h1 {
    background-color: gainsboro;
    border-radius: 10px;
    text-align: center;
    padding: 2%;
    margin: 2% 0 4%;
}

#inputDiv {
    background-color: gainsboro;
    border-radius: 10px;
    padding: 2%;
}

#listDiv {
    background-color: gainsboro;
    border-radius: 10px;
    padding: 2%;
}

#newTask {
    margin-bottom: 1%;
}

#addTask {
    margin-bottom: 5%;
}

h3 {
    text-align: center;
}

#toDoList, #completeList {
    background-color: white;
    border-radius: 5px;
    padding: 2%;
}